<form class="navbar-form navbar-left"  > 
	
<div class="form-group">  
	<select class="form-control" ng-model="dateValue" name="{{form.name}}" >
		<option value="">{{form.placeholder}}</option>
		<option value="0">Choose Date Range</option>
		<option ng-repeat="date in relativeDates" value="{{date.key}}" ng-id="{{date.key}}">{{date.label}}</option>
	</select>
</div>

<div class="form-group datepicker" ng-show="dateValue == '0'">
	<label>From:</label>
	<input type="text" format="{{form.format}}" datepicker ng-model="dateRangeStart" name="from_{{form.name}}" /> 
</div> 
<div class="form-group datepicker"  ng-show="dateValue == '0'">
	<label>To:</label>
	<input type="text" format="{{form.format}}" datepicker  ng-model="dateRangeEnd" name="to_{{form.name}}" /> 
</div>
</form>

<input type="hidden" ng-model="model" /> 
<form class="navbar-form navbar-right"  ng-hide="dateValue == '0'" > 
<div class="form-group">
	<div class="btn btn-link" disabled>
		<span ng-if="date"> 
			Date: {{date}}
		</span>
		<span ng-if="dateRangeStart && dateRangeEnd"> 
			From {{dateRangeStart}} To {{dateRangeEnd}}
		</span>
		<span ng-if="dateRangeStart && dateRangeEnd == null"> 
			From {{dateRangeStart}}
		</span>
		<span ng-if="dateRangeEnd && dateRangeStart == null"> 
			To {{dateRangeEnd}}
		</span>
	</div>
</div>
</form>